<header class="site-header">

  <div class="wrapper site-header-inner">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" class="nav-toggle" aria-label="Open navigation">
        <span class="menu-icon"></span>
      </label>

      <nav class="site-nav">
        <label for="nav-trigger" class="nav-drawer-close" aria-label="Close navigation">Close</label>
        {% include nav-items.html paths = page_paths repos = site.data.forpublicai_repos %}
      </nav>
      <label for="nav-trigger" class="nav-drawer-overlay" aria-hidden="true"></label>
    {%- endunless %}
  </div>
</header>
